.c-feedback-btn {
    position:fixed;
    right: 16px;
    bottom: 16px;
    background-color: $color-yellow;
    border-radius: 25px;
    height: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    max-width: 50px;
    overflow: hidden;
    transition: all 200ms;
    &:hover,
    &:focus{
        max-width: 320px;
        overflow: visible;
    }
    &__icon{
        position: relative;
        bottom: 5px;
    }
    &__link{
        display: block;
        border: none;
        font-size: 16px;
        line-height: 50px;
        padding: 0 13px;
        overflow: hidden;
    }
    &__text{
        opacity: 0;
        padding:0 8px;
        .c-feedback-btn:hover &{
            transition: all 100ms 200ms;
            opacity: 1;
        }
    }
} 