.badge {
    font-size: 14px;
    color: $color-gray;
    display: inline-block;
    padding-left: 0.5em;
    &::before{
        content: "(";
    }
    &::after{
        content: ")";
    }
    a &{
        transition: 0.2s color;
    }
    a:hover & {
        color: inherit;
    }
}
