$password-strength-very-week-bg : #FFA0A0;
$password-strength-week-bg      : #FFB78C;
$password-strength-medium-bg    : #FFEC8B;
$password-strength-strong-bg    : #C3FF88;



.password-strength {
    background: transparent;
    &__meter {
        width: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        height: 46px;
        z-index: 0;
        > div {
            transition: all 300ms ease-in-out;
            width: 25%;
            height: 46px;
            text-align: center;
            color: transparent;
            font-size: 0;
        }
        .veryweak {
            width: 25%;
            background-color: $password-strength-very-week-bg;
        }
        .weak {
            width:50%;
            background-color: $password-strength-week-bg;
        }
        .medium {
            width: 75%;
            background-color: $password-strength-medium-bg;
        }
        .strong {
            width: 100%;
            background-color: $password-strength-strong-bg;
        }
    }

    &__button {
        display: none;
    }

    &__text {
        color: $gray-base;
        padding-left:0.25rem;
        display:block;
        line-height: 1.25rem;
    }
}