$input-font-size             : .8rem;
$input-background            : $color-white;
$input-font-weight           : $font-weight-book;
$input-border-radius         : 3px;
$input-padding               : 0 0 0 10px;
$input-margin                : $padding-small 0;
$input-height-mobile         : 44px;
$input-height                : 36px;
$input-border                : 1px solid $gray-light;
$input-border-focus          : 1px solid $gray-156;
$input-disabled-background   : $color-gray-lighter;
$input-disabled-border-color : $color-gray-lighter;

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

label,
input,
textarea,
select {
    font-size: $input-font-size;
}

input,
textarea,
select {
    width: 100%;
    font-weight: $input-font-weight; // TODO: I think this is not needed because normalize makes it inherit from body
    border: $input-border;
    border-radius: $input-border-radius; // [1]
    background: $input-background;
    padding: $input-padding;
    height: $input-height-mobile;


    margin: $input-margin;

    @media screen and (min-width: $screen-sm) {
        height: $input-height;
    }

    &:focus {
        border: $input-border-focus;
        outline: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}


// Disabled styling
input,
textarea {
    &[disabled] {
        background-color: $input-disabled-background;
        border-color: $input-disabled-background;
    }
}


input,
textarea {
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px $white inset;
    }

    // ie 10 fix
    &::-ms-clear {
        display: none;
    }

    &[readonly] {
        cursor: default;
    }
}

input[type="date"],
input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    -moz-appearance: textfield;
}


// Checkbox and Radio
$input-icon-size    : 1.1rem;
$input-icon-margin  : .5rem;

input[type="checkbox"],
input[type="radio"] {
    &:checked + label:before {
        color: $color-teal;
    }

    + label:before {
        display: inline-block;
        color: $gray-light;
        font-family: 'siroop';
        font-size: $input-icon-size;
        line-height: 1;
        margin-right: $input-icon-margin;
        width: $input-icon-size;
        height: $input-icon-size;
    }

    + label {
        display: block;
        width: 100%;
        cursor: pointer;
    }
}


input[type="checkbox"]:checked + label:before { content: '\e605'; }
input[type="checkbox"] + label:before         { content: '\e606'; }

input[type="radio"]:checked + label:before    { content: '\e616'; }
input[type="radio"]+ label:before             { content: '\e617'; }