/* fonts general definitions */
$font-family-brand:     'Roboto', sans-serif;

$font-size-base:        $base-font-size;
$line-height-base:      $base-line-height;

$font-weight-light:     300;
$font-weight-book:      300;
$font-weight-medium:    500;
$font-weight-demi:      700;
$font-weight-bold:      700;


$font-base-color:   $color-gray-darker;
