.u-color-background-white {
  background-color: $color-white !important;  
}

.u-color-background-teal      {
  background-color: $color-teal-dark !important;
}
.u-color-background-red {
  background-color: $color-red !important;
}

.u-color-background-blue {
  background-color: $color-blue !important;
}

.u-color-background-orange {
  background-color: $color-orange !important;
}

.u-color-background-yellow {
  background-color: $color-yellow !important;
}