.u-float-left,
.left {
    float: left !important;
}

.u-float-right,
.right {
    float: right !important;
}

.inline-block {
    display: inline-block !important;
}

.u-relative {
    position: relative;
}